################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DUnit/Charts/dcu
/DUnit/ClassHelper/dcu
*.dcu
/DUnit/COM/__history
*.exe
/src/Multi-Threading/__history
/DUnit/Charts/__history
/DUnit/ClassHelper/__history
/DUnit/ClassOperator/__history
/DUnit/Custom Attributes/__history
/DUnit/Design Patterns/__history
/DUnit/Fluent Interfaces/__history
/DUnit/Logging/__history
/DUnit/Mock/__history
/DUnit/Multi-Threading/__history
/DUnit/Profiler/__history
/DUnit/Regular Expressions/__history
/src/COM/__history
/DUnit/UML/__history
/DUnit/Refactoring/Win32/Debug
/DUnit/Refactoring/Win64/Debug
/DUnit/Refactoring/__history
/src/Refactoring/__history
