################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DUnit/Charts/dcu
/DUnit/ClassHelper/dcu
*.dcu
/DUnit/COM/__history
*.exe
/src/Multi-Threading/__history
